.nav {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: right;

}

.nav a {
    color: white;
    text-align: center;
    padding: 14px 40px;
    font-size: 20px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black
}

.nav a.active {
    background-color: #5B7553;
    color: white
}

body {
    margin: 0px;
    background-image: url(../images/home_background.jpg);
    background-size: cover;
}

.fullbox {
    display: flex;
    gap: 30px;
    background-color: black;

    border-radius: 8px;
    padding: 20px;

    margin-left: 600px;
    margin-top: 200px;
    margin-right: 600px
}

.leftbox {


    padding: 20px;
    font-size: large;
    color: #e0e0e0;

}

.rightbox {
    border: white 2px solid;
    padding: 20px;
    color: #e0e0e0;

}

.submit {
    padding: 10px;
    background-color: #4facfe;

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px
}

.submit:hover {
    background-color: #00c3ff;
}

input,
textarea {
    display: block;
    border: none;
    color: white;
    background-color: #2a2a2a;
    border-radius: 2px;
}